button {
    position: relative;
    background-color: #04AA6D;
    border: none;
    font-size: 24px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.centered {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

h1 {
    color: #FFFFFF;
    font-family: Inter, sans-serif;
}

.background {
    background-image: radial-gradient(circle, #060a11, #0b0914, #120614, #1a0411, #1f0208);}